<% if target && target.errors.any? %>
  <div id="errorExplanation" class="errorExplanation alert alert-danger" data-hook>
    <p>
      <strong><%= Spree.t(:these_records_were_not_saved) %>:</strong><br/>
    </p>
    <ul class="ul-with-markup">
     <% target.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
     <% end %>
    </ul>
  </div>
<% end %>